/* Google Font Import */
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

/* Start: Global Styles */

* {
  box-sizing: border-box;
}

body {
  background-color: #516dff;
  color: #fff;
  font-family: "Press Start 2P", sans-serif;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
/* End: Global Styles */

.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
